[flake8]
max-line-length = 100
extend-ignore = E501, F401, F841, W291, W293, E261, E302, F541
per-file-ignores =
    __init__.py:F401
    tests/*:F401,F841
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist,
    .pytest_cache,
    .mypy_cache,
    .ruff_cache
